.git
.github
.vscode

**/node_modules
**/dist
**/coverage
**/.vite
**/*.tsbuildinfo

.env
.env.*
!.env.example

**/src/generated/prisma
**/playwright-report
**/test-results

uploads
docker-data

README.md